.container {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  padding: 20px;
  font-family: "Roboto", sans-serif;
  background-color: #f5f5f5;
  min-height: 100vh;
}

.addButton {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.addButton:hover {
  background-color: #43a047;
}

.form {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.email {
  width: 95%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 14px;
  transition: all 0.3s ease;
}

.email:focus {
  border-color: #4caf50;
  outline: none;
  /* box-shadow: 0 0 5px rgba(76, 175, 80, 0.5); */
}

.form input,
.form textarea {
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.form button {
  margin-top: 10px;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.saveButton {
  background-color: #4caf50;
}

.saveButton:hover {
  background-color: #43a047;
}

.cancelButton {
  background-color: #f44336;
  margin-top: 10px;
}

.cancelButton:hover {
  background-color: #e53935;
}

.customerList {
  list-style: none;
  padding: 0;
}

.customerItem {
  background-color: white;
  margin: 10px 0;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.editButton,
.deleteButton {
  margin: 0 5px;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.editButton {
  background-color: #4caf50;
  color: white;
}

.editButton:hover {
  background-color: #43a047;
}

.deleteButton {
  background-color: #f44336;
  color: white;
}

.deleteButton:hover {
  background-color: #e53935;
}

.toastError {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  font-size: 16px;
  z-index: 1000;
}

.toastSuccess {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  font-size: 16px;
  z-index: 1000;
}

.noSubs {
  font-size: 20px;
  font-weight: bold;
}